- name: Check Golang
  ansible.builtin.shell: type go
  ignore_errors: yes
  register: go_stat

- name: Installing Golang
  ansible.builtin.dnf:
    name: golang
    state: present
  when: go_stat != 0

- name: Import common role - App Pre-requisites
  ansible.builtin.import_role:
    name: common
    tasks_from: app-prereq

- name: Import SystemD
  ansible.builtin.import_role:
    name: common
    tasks_from: systemd

- name: Download golang dependencies
  ansible.builtin.shell: go mod init dispatch; go get; go build
  args:
    chdir: "{{app_dir}}"        #It will go to /app directory and do npm install

- name: Import Schema
  ansible.builtin.import_role:
    name: common
    tasks_from: schema-load
  when : schema_needed

- name: Import Observability
  ansible.builtin.import_role:
    name: common
    tasks_from: observability


